
body {
  height: 100%;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

div#root {
  background-color: #fcffff;
  color: #004b49;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  font-family: "roboto", sans-serif;
}

.dark-mode {
  background-color: #004b49;
}
